---
layout: default
---

<div class="home">

    <h1 class="home-heading">Blog posts</h1>

    <div class="home-content">
        {{ content }}
    </div>

    <ul class="post-list">
        {% for post in site.posts %}
        <li class="blog-posts">

            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>

            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            {{ post.content }}

        </li>
        {% if post.picture %}
        <a class="blog-continue" href="{{post.url | relative_url }}">See Full Picture</a>
        {% else %}
        <a class="blog-continue" href="{{post.url | relative_url }}">Continue Reading</a>
        {% endif %}
        {% endfor %}
    </ul>

</div>
