---
layout: default
---

<div class="home">

    <h1 class="home-heading">Introduction</h1>

    <div class="home-content">
        {{ content }}
    </div>

    <h1 class="page-heading">Most recent posts</h1>

    <ul class="post-list">
        {% for post in site.posts limit:2 %}
            <li>
                <h2>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h2>

                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            </li>
        {% endfor %}
    </ul>

    <a class="home-continue" href="/blog/">Older posts</a>

</div>
